rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isFileSizeValid() {
      return request.resource.size <= 524288000; // 500 MB
    }

    function isImageContentType() {
      return request.resource.contentType.matches('image/.*');
    }

    function isVideoContentType() {
      return request.resource.contentType.matches('video/.*');
    }

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isPublished() {
      return resource.metadata.published == 'true';
    }

    match /users/{userId}/images/{imageId} {
      allow read: if isPublished() || isOwner(userId);

      allow create: if isOwner(userId)
                    && isFileSizeValid()
                    && isImageContentType();
      allow update: if isOwner(userId)
                    && isFileSizeValid()
                    && isImageContentType();
      allow delete: if isOwner(userId);
    }

    match /users/{userId}/link-images/{imageId} {
      allow read: if isPublished() || isOwner(userId);

      allow create: if isOwner(userId)
                    && isFileSizeValid()
                    && isImageContentType();
      allow update: if isOwner(userId)
                    && isFileSizeValid()
                    && isImageContentType();
      allow delete: if isOwner(userId);
    }

    match /users/{userId}/videos/{videoId} {
      allow read: if isPublished() || isOwner(userId);

      allow create: if isOwner(userId)
                    && isFileSizeValid()
                    && isVideoContentType();
      allow update: if isOwner(userId)
                    && isFileSizeValid()
                    && isVideoContentType();
      allow delete: if isOwner(userId);
    }
  }
}
